<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="archiveName" value="demandware-mock.zip"/>
<mapEntry key="distBaseUrl" value="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net:443/on/demandware.servlet/WFS/Studio/Sites/mock"/>
<mapEntry key="oldServerApiDirectory" value="C:\Andrea\Project\dwcorso\.metadata\.plugins\com.demandware.studio.server\server\DemandwareServer"/>
<mapEntry key="password" value="Carmarea31@"/>
<mapEntry key="serverApiDirectory" value="C:\Andrea\Project\dwcorso\DemandwareServer\.api"/>
<mapEntry key="tempArchive" value="C:\Users\OPERAT~1\AppData\Local\Temp\demandware-api1964297376412168950.zip"/>
<mapEntry key="userName" value="andrea.termini3@gmail.com"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_CAPTURE_OUTPUT" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Users\operatore\eclipse\java-neon\eclipse\..\..\..\.p2\pool\plugins\com.demandware.studio.server_16.7.0.v201607191955\data\download-api.xml"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_SHOW_CONSOLE" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-v"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\Users\operatore\eclipse\java-neon\eclipse\..\..\..\.p2\pool\plugins\com.demandware.studio.server_16.7.0.v201607191955\data"/>
</launchConfiguration>
